html {
  height:100%;
}

body {
    height:100%;
    background: #F5EFE1;
    color: #163316;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .about-section{
    margin-top: 2rem
  }

  .fill { 
    min-height: 100%;
    height: 100%;
  }

  .btn-primary {
    background: #163316 !important;
    border-color:  #163316 !important;
    color: white;
  }

  .flex-container {
    display: flex;
  }

  .responsive {
    max-height: 500px;
    max-width: 100%;
    margin: auto;
  }

  .name-size {
    overflow-wrap: break-word;
    float: left;
    font-weight: 725;
    font-size: 75px;
    line-height: 1em;
  }

  .title-size {
    font-size: 40px;
    float: left;
    margin-right: 3rem;
    margin-top: .35rem;
    font-weight: 450;
    line-height: 1em;
  }

  .email-size {
    font-size: 20px;
    float: left;
    margin-right: 3rem;
    margin-top: .65rem;
    font-weight: 550;
  }
  .round-btn {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color:  #163316 !important;
    background-color: #163316 !important;
    color: white;
  }

  .center-img{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

@media screen and (max-width: 500px) {
  .name-size {
    font-size: 55px !important;
    margin-top: 2rem;
  }
  .title-size {
    font-size: 30px;
    margin-right: 0rem;
  }
  .email-size {
    font-size: 20px;
    margin-right: 0rem;
    font-weight: 450;
  }
  .about-section{
    margin-top: 2rem
  }
}

@media screen and (max-width: 500px) {
  .name-size {
    font-size: 55px !important;
  }
  .title-size {
    font-size: 30px;
    margin-right: 0rem;
  }
  .email-size {
    font-size: 20px;
    margin-right: 0rem;
    font-weight: 450;
  }
  .about-section{
    margin-top: 2rem
  }
}

@media screen and (min-width: 800px) {
  
}

@media screen and (min-width: 1000px) {
  
}

@media screen and (min-width: 1300px) {
  
}